<div class="min-vh-100 bg-light p-4">
    <!-- Navbar -->
    <app-navbar></app-navbar>
  
    <div class="text-center mb-5">
      <h1 class="display-4 fw-bold text-dark">Browse Categories</h1>
      <p class="fs-4 text-muted">Explore various product categories.</p>
    </div>
  
    <div *ngIf="categories.length > 0" class="mb-5">
      <h2 class="text-3xl fw-bold text-dark text-center mb-6">Categories</h2>
      <!-- Category List -->
      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-4">
        <div *ngFor="let category of categories" class="col" (click)="onCategorySelect(category.id)">
          <div class="card shadow-lg rounded-3">
            <div class="card-body">
              <h5 class="card-title text-dark">{{ category.name }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="errorMessage" class="alert alert-danger mt-4">
      <strong>Error:</strong> {{ errorMessage }}
    </div>
  </div>
  