<div class="container">
    <h1>Welcome to ShopApp</h1>
  
    <h2>Categories</h2>
    <div class="categories">
      <button *ngFor="let category of categories" routerLink="/categories/{{category}}" class="btn btn-primary m-1">
        {{ category }}
      </button>
    </div>
  
    <h2>Featured Products</h2>
    <div class="row">
      <div *ngFor="let product of products" class="col-md-4">
        <div class="card">
          <img [src]="product.image" class="card-img-top" alt="product image" />
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">${{ product.price }}</p>
            <a [routerLink]="'/products/' + product.id" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  